@@font-face {
  font-family: 'Ranchers', cursive;

}
body{
  background-image: url('https://i.imgur.com/kYjqrJ9.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.7;
  padding: .35;
}

#banner {
  height: 150px;
  width:350px ;
  margin: -5px auto 5px auto;
  background-repeat: repeat;
}
h1 {
  font-family: 'Ranchers', cursive;
  color: white;
}

.pokeBall {
   display: flex;
   flex-direction: row;
   justify-content: centered;
   background: grey;

 }

img{
height: 600px;
width: 350px;
}

@media(max width:500px) {
  .container {
    display: block;
    background-size: contain;
  }

}
